@model EntityLayer.Sınıflar.Diziler
@{
    ViewData["Title"] = "DiziEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Dizi Ekle</h1>
<br />
<form class="form-group" method="post">

	@Html.LabelFor(x=>x.DiziAdi,"Dizinin Adı")
	@Html.TextBoxFor(x=>x.DiziAdi, new {@class="form-control"})
	<br />

	@Html.LabelFor(x=>x.DiziGorsel, "Dizinin Görseli")
	@Html.TextBoxFor(x=>x.DiziGorsel, new {@class="form-control"})
	<br />

	@Html.LabelFor(x=>x.DiziAciklama,"Dizinin Açıklaması")
	@Html.TextBoxFor(x=>x.DiziAciklama, new {@class="form-control"})
	<br />

	@Html.LabelFor(x=>x.DiziTur.Id,"Dizinin Türü")
	@Html.DropDownListFor(x => x.DiziTur.Id, ViewBag.DiziTurleri as SelectList, "Seçiniz", new {@class="form-control"})
	<br />
	<button class="btn btn-primary">Dizi Ekle</button>
</form>


