@model EntityLayer.Sınıflar.Yakindakiler
@{
    ViewData["Title"] = "YakinEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>Yakında Vizyona Girecek Filmleri Ekleme</h1>
<br />
<form class="form-group" method="post">

	@Html.LabelFor(x=>x.YakinAdi,"Filmin Adı")
	@Html.TextBoxFor(x=>x.YakinAdi, new {@class="form-control"})
	<br />

	@Html.LabelFor(x=>x.YakinGorsel, "Filmin Görseli")
	@Html.TextBoxFor(x=>x.YakinGorsel, new {@class="form-control"})
	<br />

	@Html.LabelFor(x=>x.YakinAciklama,"Filmin Açıklaması")
	@Html.TextBoxFor(x=>x.YakinAciklama, new {@class="form-control"})
	<br />

	@Html.LabelFor(x=>x.YakinTarih,"Filmin Vizyon Tarihi")
	@Html.TextBoxFor(x => x.YakinTarih, "{0:dd.MM.yyyy}", new { @class = "form-control" })
	<br />

	@Html.LabelFor(x=>x.FilmTur.Id,"Filmin Türü")
	@Html.DropDownListFor(x => x.FilmTur.Id, ViewBag.YFilmTurleri as SelectList, "Seçiniz", new {@class="form-control"})
	<br />
	<button class="btn btn-primary">Film Ekle</button>
</form>


